  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
<!---------------- 🚧 nav construction 🚧  ------------------->
<%- include('../partials/index.ejs') %>


</nav>

