<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (user) { %>
    <h1 class="daily-h1">Daily View</h1>
    <div class="daily-top-row">
      <div class="card conversation-child" style="width: 18rem;">
        <div class="card-header">Recent Conversations</div>
      </div>
      <div class="card todo-child" style="width: 18rem;">
        <div class="card-header">Recent To-Dos</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
        </ul>
      </div>
    </div>



  <% } else { %>
    <h1 class="prelogin-home">Welcome, to IndexCRM!</h1>
    <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt repellat tempora sint ullam. Hic modi, soluta minus quibusdam ab odit recusandae odio! Esse autem, accusantium sit praesentium ab unde? Placeat? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores libero nulla delectus. Distinctio magni itaque minus! Autem, vel? Eos molestiae in deleniti nobis alias ducimus cumque eius inventore tenetur nostrum! </p>
    <div class="card-group">
      <div class="card">
        <img src="https://i.imgur.com/vacMt7N.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">View of All Clients</h5>
          <p class="card-text">On this page you can access a table with all of your current clients in it. From here, you can add a new client, delete a current client, or navigate to a client profile!</p>
        </div>
      </div>
      <div class="card">
        <img src="https://i.imgur.com/47A0hKb.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Individual Client View</h5>
          <p class="card-text">On the client profile page you can view specific information for your client, like their phone number, email, occupation, and previous notes you have written about them.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://i.imgur.com/pbuViVh.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">To-Do List</h5>
          <p class="card-text">The to-do page allows you to keep track of all things you need to work on! Here you can add a new to-do item, cross things off your list and delete them when they no longer need to be referenced.</p>
        </div>
      </div>
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
