body {
  margin-left: 4.5%;
  margin-top: 130px;
  margin-right: 5%;
}
.header {
  padding-top: 30px;
}

/* ------------- ⏺  buttons ⏺ --------------*/
.google-button {
  display: flex;
  justify-content: right;
}
.btn-success {
  background-color: #34573f;
}

/* ------------ 🧒  avatar 🧒 ----------------*/
.avatar {
  display: flex;
  position: absolute;
  right: 130px;
  top: 27px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 0px;
}


/* ------------📸  image card group 📸 --------*/
.card-group {
  margin-right: 70px;
  margin-top: 15px;
}

/* ----------- 💻 pre login homepage 💻 --------*/
.prelogin-home {
  font-size: 80px;
  margin-bottom: 9px;
}
.intro-text {
  font-size: 18px;
  margin-right: 70px;
}

/* ------------- 📇 clients index page 📇 ----------- */
.clients-title {
  font-size: 4rem;
}
.clients-head {
  display: inline-block;
  margin-bottom: 2%;
}
.new-client-btn {
  margin-top: -18px;
  margin-left: 55px;
}
.clients-section {
  margin-right: 150px;
}
.delete-client-btn {
  text-align: center;
}


/*---------------- 💃 client :id page 💃 ----------------*/
.client-avatar {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin-top: -3%;
  margin-bottom: -4%;
  padding: 0;
}
.edit-button {
  height: 42px;
  width: 42px;
}
.conversation-btn {
  margin-top: 8px;
}
.conversation-table {
  width: 93.3%;
}
.customer-name {
  font-size: 3rem;
  display: inline;
  margin-top: 0;
  margin-left: 2%;
}
.customer-occupation {
  font-size: large;
  margin-top: 0;
  line-height: 0px;
  margin-left: 3%;
}
.info-div {
  background-color: #c8d5b9;
}
.info {
  padding: 6%;
  font-size: large;
}
.profile-img {
  background-image: url(../images/background.png);
  background-size: cover;
}
#row {
  width: 100%;
  padding-left: 0.5%;
  margin-top: 0;
}
.further-info {
  margin-top: 2%;
  margin-right: 30%;
  color: #949494
}
.linkedin-button {
  background-color: #0e76a8;
  color: white;
  border: 1px solid #084461;
  height: 40px;
  width: 110px;
  font-size: 15px;
  text-align: center;
}
.linkedin-button:link, .linkedin-button:visited {
  color: white; 
}
.linkedin-button:active, .linkedin-button:hover {
  background-color: #084461;
  color: white;
}
.new-conversations {
  margin-bottom: 4.5%;
  margin-top: 2%;
}
.all-conversations {
  margin-bottom: 1%;
}

/*--------------------------  ✏️ edit client view ✏️ ------------*/
#floatingTextarea2 {
  margin-top: 16px;
}
.form-floating {
  margin-right: 6.7%;
}
.edit-h1 {
  font-size: 3rem;
  margin-top: -2.5%
}
.tel-format {
  font-size: 0.75rem;
  color: #949494;
}
.edit-btn {
  margin-top: 1%;
}

/*------------------------ 🆕 new client view 🆕 ---------------*/
.new-h1 {
  font-size: 3rem;
  margin-top: -2.5%;
}
.new-btn {
  margin-top: 1%;
}


/*-------------------------- 📒 todos view 📒 ------------------*/
.checkbox:checked + .strikethrough {
  text-decoration: line-through ;
}
.btn-sm {
  height: 20px;
  width: 20px;
  font-size: 10px;
  padding: 0;
}
.todos-ul {
  columns: 3;
  vertical-align: top;
  margin-right: 6.8%;
}
.todo-h3 {
  font-size: small;
  margin-bottom: 0;
  color: #949494;
}
.todo-h1 {
  font-size: 3rem;
  margin-bottom: 2%;
}
.enter-a-todo {
  margin-left: 8px;
}
.todos {
  margin-top: 60px;
}
.all-todos {
  color: #34573f;
}
.delete-todo-btn {
  float: right;
  vertical-align: middle;
}

/*--------------- 📰 daily view 📰 ------------------*/
.daily-h1 {
  font-size: 60px;
}
.conversation-child {
  float: left;
  width: 50%;
}
.todo-child {
  float: inline-end;
}

/* media queries  */
/* @media screen and (max-width: 360px) {
  body {
    width: 90%;
  }
  .profile-div {
    display: inline-block;
  }
  .further-info {
    width: 18.5rem;
  }

} */

@media screen and (max-width: 920px) {
  .client-avatar {
    height: 100px;
    width: 100px;
    margin-top: 2rem;
    float: right;
  }
  .edit-div {
    display: block;
    position: fixed;
  }
  .edit-button {
    height: 35px;
    width: 35px;
    font-size: 12px; 
  }
  .customer-name {
    font-size: 2rem;
    display: block;
    margin-bottom: 0;
    word-wrap: break-word;
    margin-top: 2rem;
  }
  .customer-occupation {
    font-size: medium;
    margin-top: 0;
    display: inline-block;
    word-wrap: break-word;
  }
  .info-div {
    display: block;
    background-color: white;
  }
  .profile-img {
    background-color: white;
  }
  .info {
    display: grid;
    font-size: medium;
  }
}

@media screen and (max-width: 841px) {
  .edit-div {
    display: inline-block;
  }
  .client-avatar {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .client-avatar {
    margin-top: -2rem;
  }
  .intro-text {
    font-size: 16px;
  }
  .prelogin-home {
    font-size: 60px;
  }
  .card-group {
    font-size: 16px;
  }
}

@media screen and (max-width: 462px) {
  .customer-occupation {
    font-size: xx-small;
  }
  .customer-name {
    font-size: 1rem;
  }
  .info {
    font-size: small;
  }
  .client-avatar {
    display: none;
  }
  .card-group {
    font-size: 12px;
  }
  .prelogin-home {
    font-size: 40px;
  }
  .intro-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 328px) {
  .customer-name {
    font-size: 0.7rem;
  }
  .customer-occupation {
    font-size: 0.3rem;
  }
  .prelogin-home {
    font-size: 25px;
  }
}
