body {
  margin-left: 70px;
  margin-top: 130px;
}
.header {
  padding-top: 30px;
}

/* ------------- ⏺  buttons ⏺ --------------*/
.google-button {
  display: flex;
  justify-content: right;
}
.btn-success {
  background-color: #34573f;
}

/* ------------ 🧒  avatar 🧒 ----------------*/
.avatar {
  display: flex;
  position: absolute;
  right: 130px;
  top: 27px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 0px;
}

/* ------------ 🎩 top nav line 🎩 -----------*/


/* ------------📸  image card group 📸 --------*/
.card-group {
  margin-right: 70px;
  margin-top: 15px;
}

/* ----------- 💻 pre login homepage 💻 --------*/
.prelogin-home {
  font-size: 80px;
  margin-bottom: 9px;
}
.intro-text {
  font-size: 18px;
  margin-right: 70px;
}

/* ------------- 📇 clients index page 📇 ----------- */
.clients-title {
  font-size: 60px;
}
.clients-head {
  display: inline-block;
  margin-bottom: 50px;
}
.new-client-btn {
  margin-top: -18px;
  margin-left: 55px;
}
.clients-section {
  margin-right: 150px;
}
.delete-client-btn {
  text-align: center;
}


/*---------------- 💃 client :id page 💃 ----------------*/
.client-avatar {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin-top: -40px;
}
.edit-button {
  height: 42px;
  width: 42px;
}
.conversation-btn {
  margin-top: 8px;
}
.conversation-table {
  width: 93.3%;
}
.customer-name {
  font-size: 3rem;
  margin-top: 3px;
  line-height: 50px;
}
.customer-occupation {
  font-size: large;
  margin-top: 0;
  line-height: 0px;
}
.info-div {
  background-color: #c8d5b9;
  /* border-top-right-radius: 10%;
  border-bottom-right-radius: 10%; */
}
.info {
  padding: 6%;
  font-size: large;
}
.profile-img {
  background-image: url(../images/background.png);
  background-size: cover;
  /* border-top-left-radius: 10%;
  border-bottom-left-radius: 10%; */
}
#row {
  width: 90%;
  padding-left: 20px;
}
.further-info {
  margin-top: 20px;
}

/* edit client view  */
#floatingTextarea2 {
  margin-top: 16px;
}
.form-floating {
  margin-right: 6.7%;
}
/*----- todos view  ----------*/
.checkbox:checked + .strikethrough {
  text-decoration: line-through ;
}
.btn-sm {
  height: 20px;
  width: 20px;
  font-size: 10px;
  padding: 0;
}
.todos-ul {
  columns: 3;
  vertical-align: top;
}
.todos-li {
  margin: 30px;
}
.todo-h3 {
  font-size: small;
  margin-bottom: 0;
}
.todo-h1 {
  font-size: 60px;
  margin-bottom: 40px;
}
.enter-a-todo {
  margin-left: 8px;
}
.todos {
  margin-top: 60px;
}

/*--------------- 📰 daily view 📰 ------------------*/
.daily-h1 {
  font-size: 60px;
}
.conversation-child {
  float: left;
  width: 50%;
}
.todo-child {
  float: inline-end;
}