body {
  margin-left: 4.5%;
  margin-top: 130px;
  margin-right: 5%;
}
.header {
  padding-top: 30px;
}

/* ------------- ⏺  buttons ⏺ --------------*/
.google-button {
  display: flex;
  justify-content: right;
}
.btn-success {
  background-color: #34573f;
}

/* ------------ 🧒  avatar 🧒 ----------------*/
.avatar {
  display: flex;
  position: absolute;
  right: 130px;
  top: 27px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 0px;
}


/* ------------📸  image card group 📸 --------*/
.card-group {
  margin-right: 70px;
  margin-top: 15px;
}

/* ----------- 💻 pre login homepage 💻 --------*/
.prelogin-home {
  font-size: 80px;
  margin-bottom: 9px;
}
.intro-text {
  font-size: 18px;
  margin-right: 70px;
}

/* ------------- 📇 clients index page 📇 ----------- */
.clients-title {
  font-size: 60px;
}
.clients-head {
  display: inline-block;
  margin-bottom: 50px;
}
.new-client-btn {
  margin-top: -18px;
  margin-left: 55px;
}
.clients-section {
  margin-right: 150px;
}
.delete-client-btn {
  text-align: center;
}


/*---------------- 💃 client :id page 💃 ----------------*/
.client-avatar {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin-top: -3%;
  margin-bottom: -4%;
  padding: 0;
}
.edit-button {
  height: 42px;
  width: 42px;
}
.conversation-btn {
  margin-top: 8px;
}
.conversation-table {
  width: 93.3%;
}
.customer-name {
  font-size: 3rem;
  display: inline;
  margin-top: 0;
  margin-left: 2%;
}
.customer-occupation {
  font-size: large;
  margin-top: 0;
  line-height: 0px;
  margin-left: 3%;
}
.info-div {
  background-color: #c8d5b9;
}
.info {
  padding: 6%;
  font-size: large;
}
.profile-img {
  background-image: url(../images/background.png);
  background-size: cover;
}
#row {
  width: 100%;
  padding-left: 0.5%;
  margin-top: 0;
}
.further-info {
  margin-top: 2%;
  margin-right: 30%;
  color: #949494
}
.linkedin-button {
  background-color: #0e76a8;
  color: white;
  border: 1px solid #084461;
  height: 40px;
  width: 110px;
  font-size: 15px;
  text-align: center;
}
.linkedin-button:link, .linkedin-button:visited {
  color: white; 
}
.linkedin-button:active, .linkedin-button:hover {
  background-color: #084461;
  color: white;
}
.new-conversations {
  margin-bottom: 4.5%;
  margin-top: 2%;
}
.all-conversations {
  margin-bottom: 1%;
}

/*--------------------------  ✏️ edit client view ✏️ ------------*/
#floatingTextarea2 {
  margin-top: 16px;
}
.form-floating {
  margin-right: 6.7%;
}
.edit-h1 {
  font-size: 3rem;
}
.tel-format {
  font-size: 0.75rem;
}
.edit-btn {
  margin-top: 1%;
}


/*-------------------------- 📒 todos view 📒 ------------------*/
.checkbox:checked + .strikethrough {
  text-decoration: line-through ;
}
.btn-sm {
  height: 20px;
  width: 20px;
  font-size: 10px;
  padding: 0;
}
.todos-ul {
  columns: 3;
  vertical-align: top;
}
.todos-li {
  margin: 30px;
}
.todo-h3 {
  font-size: small;
  margin-bottom: 0;
}
.todo-h1 {
  font-size: 60px;
  margin-bottom: 40px;
}
.enter-a-todo {
  margin-left: 8px;
}
.todos {
  margin-top: 60px;
}

/*--------------- 📰 daily view 📰 ------------------*/
.daily-h1 {
  font-size: 60px;
}
.conversation-child {
  float: left;
  width: 50%;
}
.todo-child {
  float: inline-end;
}